body{
    background-color: blue;
    margin: 0 auto;
    background-image: url("logo.jpg");
}

#navbar {
    width: 100%;
    height: 75px;
    background-color: #ffff66;
}
#Pães{
    width: 200px;
    height: 200px;
}

#produtos{
    display: flex;
    justify-content: center;
}

#fazer{
    display: flex;
    justify-content: flex-end;
}

#gif{
    display: flex;
    justify-content: right;
}